body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 176, 176);
  font-family: 'Cantarell', sans-serif;
  font-family: 'Molengo', sans-serif; 
  text-decoration: none; 
}

.heading {
  font-family: 'Catamaran', sans-serif;
  color:rgb(59, 130, 109);
  margin-bottom: -5px;
  padding-top: 15px;
  margin-left: 15px;
}

.statement {
  color: white;
  margin-left: 15px;
}

nav {
  display: inline-block;
  position: fixed;
  background-color: black;
  width: 155px;
  height: 220px;
  margin-top: 40px;
  margin-left: 5px;
  box-shadow: 10px 7px white;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 1px;
}

.nav-list {
  list-style-type: lower-alpha;
  margin-top: 10px;
}

.bullet {
  padding-top: 15px;
}

.nav-item {
  margin-left: -20px;
  color: white;
  font-size: 20px; 
  text-decoration: none;
}

.list-header {
  text-decoration: underline;
  font-size: 24px;
  padding-left: 5px;
}

.experience {
  float: right;
  background-color: white;
  border: 3px solid black;
  color: black;
  margin-bottom: 100px;
  margin-right: 70px;
  font-size: 14px;
  margin-top: 30px;
  width: 600px;
  height: auto;
}

.experience-list {
  margin-right: 25px;
}


.cover-wrapper {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 200px;
    padding: 5px 15px 15px 15px;
    border: 3px solid black;
    margin-left: 210px;
    margin-top: 30px;
    font-size: 16px;
}

.skills-list {
    position: relative;
    float: left;
    background-color: white;
    width: 500px;
    height: 200px;
    padding: 5px 15px 15px 15px;
    border: 3px solid black;
    margin-left: 210px;
    margin-top: 270px;
    font-size: 16px;
}

.facts-list {
  position: relative;
  float: left;
  background-color: white;
  width: 500px;
  height: 200px;
  padding: 5px 15px 15px 15px;
  border: 3px solid black;
  margin-left: 210px;
  margin-top: 10px;
  font-size: 16px;
}











