body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 176, 176);
  font-family: 'Cantarell', sans-serif;
  font-family: 'Molengo', sans-serif; 
  text-decoration: none; 
}

.container {
  display: block;
  position: relative;
  background-color: black;
  margin-left: 10px;
  margin-top: -10px;
  width: 275px;
  height: 150px;
  box-shadow: 10px 7px white;
}

.heading {
  font-family: 'Catamaran';
  color:rgb(59, 130, 109);
  margin-bottom: -5px;
  padding-top: 15px;
  margin-left: 15px;
}

.statement {
  color: white;
  margin-left: 15px;
}

nav {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 140px;
  height: 150px;
  margin-top: 40px;
  margin-left: 10px;
  box-shadow: 10px 7px white;
}

.nav-list {
  list-style-type: lower-alpha;
  margin-top: 10px;
}

.bullet {
  padding-top: 15px;
}

.nav-item {
  margin-left: -20px;
  color: white;
  font-size: 20px; 
  text-decoration: none;
  }

.button {
  width: 200px;
  height: 100px;
  margin-top: 20%;
  margin-left: 42%;
  border: 5px solid white;
  background-image: linear-gradient(#49b5ff, #53c4ed, #8ed1ff, white);
  color: orange;
  text-shadow: 2px 2px black;
  font-family: 'Bangers', 'Rammetto One', sans-serif;
  letter-spacing: 1px;
  font-size: 36px;
}

.button:hover {
  color: #fcb5f6;
  text-shadow: 2px 2px white;
  background-image: linear-gradient(orange, orange);
}

.quiz {
  background-color: pink;
  background-image: url(https://img3.goodfon.com/original/5000x3189/d/1e/super-mario-igra-voprosiki.jpg);   
}

