body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 176, 176);
  font-family: 'Cantarell', sans-serif;
  font-family: 'Molengo', sans-serif; 
  text-decoration: none; 
}

.container {
  display: block;
  position: relative;
  background-color: black;
  margin-left: 5px;
  margin-top: -10px;
  width: 275px;
  height: 150px;
}

.heading {
  font-family: 'Catamaran';
  color:rgb(59, 130, 109);
  margin-bottom: -5px;
  padding-top: 15px;
  margin-left: 15px;
}

.statement {
  color: white;
  margin-left: 15px;
}

nav {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 120px;
  height: 150px;
  margin-top: 20px;
}

.nav-list {
  list-style-type: lower-alpha;
  margin-top: 10px;
}

.bullet {
  padding-top: 15px;
}

.nav-item {
  margin-left: -20px;
  color: white;
  font-size: 20px; 
  text-decoration: none;
  }

